* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: var(--font-main);
    color: var(--color-text);
    background-color: var(--color-light);
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1.5rem;
}

h2 {
    font-size: 2.25rem;
    color: var(--color-dark);
    margin-bottom: 1.5rem;
}

.text-center {
    text-align: center;
}
